/* For some reason I am having a really hard time getting any of my css designs to apply to the html */

body{
    background-color: gray;
    background-blend-mode: color-burn;
}
.topnav{
    display: block;
    font-size: 18px;
/* I cant get the font color to change colors, not sure why */
    color: White;
    background-color: white;
    margin-left: 15%;
    padding: 1%;
    height: 5%;
    width: 10%;
    border-style: solid;
    border-color: orange;
}

.topnav2{
    border: 3px;
    border-style: solid;
    border-color:orange;
    background-color: white;
    position: static;
    display: inline;
    /* float: right; */
     margin-left: 70%;
    
    }


.h1{
font-size: 50px;
text-align: center;
font-display: Orange;

}
.Header {
    font-size: 40px;
    text-align: center;
    background-color: darkorange;

}

.Head{
    background-color: white
}

P{
    font-display: Yellow;
}
.center {
    margin: auto;
    width: 80%;
    border: 3px solid orange;
    padding: 12px;
    background-color: white;
    font-family: 'Ubuntu', sans-serif;

}

.footer {
background-color: orange;
text-align: center;
/* right: 0;
bottom: 0;
left: 0;
top: 0; */
padding: 12px;
width: 80%;
margin: auto;
border: 3px solid white;
}

.container{
    background-color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}